<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

<a href="/"><img id="mhdh-logo" src="{{ site.baseurl }}/assets/mhdh-logo.png" alt="MHDH Logo"/></a>

    <nav class="site-nav">
    
    
<div id="primary-nav">
             <ul id="navigation">
    <li>
        <a href="/about">About</a>
    </li>
    <li>
        <a href="/neatline">Interactive Map</a>
    </li>
    <li>
        <a href="/exhibits">Browse Exhibits</a>
    </li>
    <li>
        <a href="{{site.baseurl}}/collections.html">Browse Collections</a>
    </li>
    <li>
        <a href="{{site.baseurl}}/items.html">Browse Items</a>
    </li>
    <li>
        <a href="{{site.baseurl}}/items.html">Credits</a>
    </li>
</ul>         </div>
      
      
    </nav>

  </div>

</header>
